## Ignore Visual Studio & .NET build output
bin/
obj/
publish/
publish_winui/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Database & Local Data
*.db
*.db-wal
*.db-shm

## Logs & Temp
*.log
[Tt]emp/
